@font-face {
  font-family: "Montserrate";
  src: url(../Fonts/Montserrat-VariableFont_wght.ttf);
  font-display: swap;
  font-style: normal;
}

:root {
  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --tittle-weigth: 700;
  --text-weigth: 400;
  --menu-text-weigth: 500;
}

/*menu 500
footer: 400
cards: 400 e 700*/

/* CSS RESET */
body,
h1,
img,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  color: var(--text-primary-color);
}

section {
  width: 312px;
  margin: 0 auto 88px;
}

section.hero {
  width: 100%;
  margin: 0;
}

.section-tittle h2 {
  font-size: 32px;
  font-weight: var(--text-weigth);
  margin: 0;
  text-align: center;
  margin-top: 64px;
}

.section-tittle hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px auto 32px;
}

.content-tittle {
  font-size: 28px;
  font-weight: var(--tittle-weigth);
  margin: 0 0 24px;
}

.content-text {
  font-size: 20px;
  font-weight: var(--text-weigth);
  line-height: 32px;
}

.buttom {
  width: 280px;
  height: 64px;
  color: var(--text-secondary-color);
  font-weight: var(--tittle-weigth);
  font-size: 20px;
  background-color: var(--secondary-color);
  border-radius: 16px;
  display: inline-block;
  text-decoration: none;
  line-height: 64px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .section-tittle h2 {
    font-size: 32px;
  }

  section {
    width: 648px;
  }

  .section-tittle h2 br {
    text-decoration: none;
  }
}

@media screen and (min-width: 1024px) {
  .bottom:hover {
    background-color: var(--primary-color);
  }

  section {
    width: 980px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  section {
    width: 1200px;
  }
}
