@font-face {
  font-family: "Montserrate";
  src: url(../Fonts/Montserrat-VariableFont_wght.ttf);
  font-display: swap;
  font-style: normal;
}

:root {
  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --tittle-weigth: 700;
  --text-weigth: 400;
  --menu-text-weigth: 500;
}

/*menu 500
footer: 400
cards: 400 e 700*/

/* CSS RESET */
body,
h1,
img,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}
