header {
  background-color: var(--brackground-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px, 48px;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
  margin: 30px 35px;
}

.navigation-menu {
  margin:55px 48px;
}

nav {
  display: none;
}
