.hero-img {
  height: 400px;
  width: 100%;
  background: url(../IMG/hero-mobile.png) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    width: 100%;
    background: url(../IMG/Hero-tablet.png) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    height: 620px;
    width: 100%;
    background-image: url(../IMG/Desktop\ img.png) no-repeat;
    background-size: cover;
  }
}
