.payments .image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 460px;
  margin-top: 24px;
  width: 100%;
}

.payments .payments-container .image-gallery .image-first {
  background-image: url(../IMG/bag-mob.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.payments .payments-container .image-gallery .image-second {
  background-image: url(../IMG/passport-mob.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.payments .payments-container .image-gallery .image-thirdy {
  background-image: url(../IMG/pessoas-mob.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.payments .payments-container .image-gallery .colspan-2 {
  grid-column: span 2;
}

/* Pacote viagens */
.travel-packages .payments .image-gallery .image-first {
  background-image: url(../IMG/Pacote-viagens/travel_viagens_esquerda\ \(2\).png);
}

.travel-packages .payments .image-gallery .image-second {
  background-image: url(../IMG/Pacote-viagens/travel_viagens_direita.png);
}

.travel-packages .payments .image-gallery .image-thirdy.colspan-2 {
  background-image: url(../IMG/Pacote-viagens/travel_viagens_abaixo.png)
}

@media screen and (min-width: 768px) {
  .payments .payments-container .image-gallery .image-first {
    background-image: url(../IMG/bag-tablet.png);
  }

  .payments .payments-container .image-gallery .image-second {
    background-image: url(../IMG/Passport-tablet.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .payments .payments-container .image-gallery .image-thirdy {
    background-image: url(../IMG/pessoas-tablet.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .payments .payments-container .image-gallery {
    width: 790px;
    margin: 0;
  }

  .payments .payments-container {
    display: flex;
  }

  .payments .payments-container {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .payments .payments-container {
    justify-content: space-between;
  }

  .payments .payments-container .content-text {
    width: 360px;
  }

  .payments .payments-container .image-gallery {
    width: 790px;
    margin: 0;
  }
}
